<h1>Admin::Comments#index</h1>
<p>Find me in app/views/admin/comments/index.html.erb</p>

<% if @comments.any? %>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <p><%= comment.user.name %>　<time><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></time></p>
        <p><%= comment.body %></p>
      </li>
    <% end %>
</ul>
<% else %>
  <p>コメントはありません。</p>
<% end %>