<h1>Public::Cats#index</h1>
<p>Find me in app/views/public/cats/index.html.erb</p>

<%= render 'public/searches/categories_form' %>

<%= link_to '里親を募集する', new_cat_path %>

<% if @cats.any? %>
  <%= render 'list', cats: @cats %>
<% else %>
  <p>現在里親募集中の猫ちゃんはいないよ！</p>
<% end %>