<%= form_with url: searches_path, method: :get , class: 'keywords-form' do |f| %>
  <%= f.hidden_field :search_type, value: 'keywords' %>
  <div class="keywords-form__container">
    <%= f.search_field :publication_title_or_breed_or_animal_print_or_prefecture_or_city_cont,
      placeholder: '掲載タイトル、種類、毛の柄、所在地など', value: params[:publication_title_or_breed_or_animal_print_or_prefecture_or_city_cont], required: true, class: 'keywords-form__field' %>
    <%= button_tag type: 'submit', class: 'keywords-form__submit' do %>
      <i class="fa-solid fa-magnifying-glass"></i>
    <% end %>
  </div>
<% end %>