<h1>Public::Searches#index</h1>
<p>Find me in app/views/public/searches/index.html.erb</p>

<%= render 'public/searches/categories_form' %>

<h2><%= @search_words %>：検索結果（全<%= @cats.count %>件）</h2>

<% if @cats.any? %>
  <%= render 'public/cats/list', cats: @cats %>
<% else %>
  <p>掲載が見つかりませんでした。</p>
<% end %>