<section class="about">
  <div class="container">
    <h2 class="heading heading--2">はじめての方へ</h2>
  </div>

  <section>
    <div class="container">
      <h3 class="heading heading--3">このサイトについて</h3>
    </div>
    <div class="about__main-visual">
      <div class="about__main-visual-image-wrap">
        <%= image_tag 'main-visual/img-2.jpg' %>
      </div>
      <p class="about__main-visual-text">
        猫ちゃんと飼い主に、<br>
        出会いと幸せを。
      </p>
    </div>

    <div class="container">
      <p class="about__text">
        「待ちねこ -waicat-」は、猫ちゃんの飼育放棄・育成困難・そして殺処分が問題となっている中、
        ネット社会をうまく活用し、里親募集者と応募者を上手に繋ぐ事を目的としたコミュニティサイトです。
      </p>
      <p class="about__text">
        大切な人の帰りや出会い、出来事を待ち侘びてる「待ち人（まちびと）」という言葉が、
        新たな里親を待っている猫ちゃんにもピッタリ当てはまる点から「待ちねこ -waicat-」と名付けられました。
      </p>
      <p class="about__text">「あなたの優しさ」と「出会い」をお手伝いしたいと考えています。</p>

      <h3 class="heading heading--3">ペットの譲渡・受け取りまでの手順</h3>
      <div class="about__operation-sheet-wrap">
        <%= image_tag 'operation-sheet.png'%>
      </div>
    </div>
  </section>
</section>