<h1>Admin::Homes#top</h1>
<p>Find me in app/views/admin/homes/top.html.erb</p>

<%= link_to '管理者ログアウト', destroy_admin_session_path, method: :delete %>

<div>
  <%= link_to '猫一覧ページ', admin_cats_path %>
</div>

<div>
  <%= link_to '猫山太郎-2の猫一覧ページ', admin_cats_path(user_id: 1) %>
</div>