<h1>Public::Notices#index</h1>
<p>Find me in app/views/public/notices/index.html.erb</p>

<h2>通知一覧</h2>

<% if @notices.any? %>
  <ul>
    <% @notices.each do |notice| %>
      <li id="notice-<%= notice.id %>">
        <%= render 'content', notice: notice %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>通知はありません。</p>
<% end %>