.about {
  &__main-visual {
    height: 400px;
    position: relative;

    &-image-wrap {
      overflow: hidden;
      height: 100%;
      width: 100%;

      img {
        object-fit: cover;
        object-position: left;
        height: 100%;
        width: 150%;
      }
    }

    &-text {
      font-size: 4rem;
      text-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      padding: 0 10vw;

      @include media-breakpoint-down(md) {
        font-size: calc(1.8rem + 2vw);
        padding: 0 5vw;
      }
    }
  }

  &__text {
    margin: 2em 0;
  }

  &__operation-sheet-wrap {
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    img {
      object-fit: contain;
      height: 100%;
      width: 100%;
    }
  }
}