.logo {
  box-sizing: content-box;
  font-family: 'Noto Serif JP', serif;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 3px 8px;
  width: 100px;

  &__root-link {
    color: $white;
    text-decoration: none;
    transition: color .2s;

    &:hover {
      color: $gray-300;
    }
  }
  
  &__title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }

  &__ruby {
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}