.message-list {
  background-color: $gray-100;
  border-radius: 10px;
  font-size: 1.4rem;
  list-style: none;
  margin: 0 auto 10px;
  height: 75vh;
  overflow-y: scroll;
  padding: 10px;
  max-width: 800px;

  &__item {
    display: grid;
    column-gap: 10px;
    row-gap: .25em;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
    "item1 item2"
    "item1 item3"
    "item1 item4";
    padding: 10px;

    @for $i from 1 through 4 {
      & > :nth-child(#{$i}) {
        grid-area: item#{$i};
      }
    }

    &-avatar-wrap {
      background-color: $gray-200;
      border-radius: 50%;
      overflow: hidden;
      height: 60px;
      width: 60px;

      img {
        object-fit: cover;
        height: 100%;
        width: 100%;
      }
    }

    &-body {
      background-color: $white;
      border-radius: 5px;
      justify-self: baseline;
      padding: 1.25em;
    }

    &-created-at {
      color: $gray-600;
      font-size: 1.2rem;
    }
  }
}