.page-top-button {
  background-image: image-url('footprints.png');
  background-size: contain;
  cursor: pointer;
  overflow: hidden;
  position: fixed;
  bottom: 20px;
  right: 20px;
  transform: rotate(-15deg);
  user-select: none;
  height: 70px;
  width: 70px;

  @include media-breakpoint-down(sm) {
    bottom: 5px;
    right: 5px;
    transform: rotate(-15deg) scale(0.8);
  }

  &__icon, &__text {
    color: $white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &__icon {
    font-size: 16px;
    top: 28px;
  }

  &__text {
    font-size: 12px;
    bottom: 12px;
  }
}