.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  margin-top: 20px;
  width: 100%;

  .page.current {
    color: $secondary;
  }

  a {
    @include link($primary, true);
    white-space: nowrap;
  }
}