.select-usage-section {
  &__types {
    display: flex;
    justify-content: center;
    gap: 20px;

    @include media-breakpoint-down(md) {
      flex-direction: column;
    }
  }

  &__type {
    flex: 0 0 42%;
    text-align: center;
  }

  &__text {
    font-size: 1.8rem;
    margin-bottom: .5em;

    &--small {
      font-size: 1.2rem;
    }
  }

  &__link {
    @include link($primary, true);
    white-space: nowrap;
  }
  
  &__button {
    white-space: nowrap;
    
    &--search {
      @include button($waicat-accent, 'lg');
    }
    &--create {
      @include button($primary, 'lg');
    }
  }
}