.site-top-sections {
  &__select-usage {
    &-types {
      display: flex;
      justify-content: center;
      gap: 20px;

      @include media-breakpoint-down(md) {
        flex-direction: column;
      }
    }

    &-type {
      flex: 0 0 42%;
      text-align: center;
    }

    &-text {
      font-size: 1.8rem;
      margin-bottom: .5em;

      &--small {
        font-size: 1.2rem;
      }
    }

    &-link {
      @include link($primary, true);
      white-space: nowrap;
    }
    
    &-button {
      white-space: nowrap;
      
      &--search {
        @include button($waicat-accent, 'lg');
      }
      &--create {
        @include button($primary, 'lg');
      }
    }
  }

  &__featured-publish {
    margin-bottom: 100px;

    &-see-more-button {
      margin-top: 50px;
      @include button($waicat-accent, 'lg', 'round', 'center');
    }
  }
}