<h1>Public::Chatrooms#index</h1>
<p>Find me in app/views/public/chatrooms/index.html.erb</p>

<h2>チャットルーム一覧</h2>

<% if @chatrooms.any? %>
  <div>
    <% if @active_chatrooms.any? %>
      <%= render 'list', chatrooms: @active_chatrooms %>
    <% else %>
      <p>お話中のチャットルームはありません。</p>
    <% end %>
  </div>

  <div>
    <% if @passive_chatrooms.any? %>
      <%= render 'list', chatrooms: @passive_chatrooms %>
    <% else %>
      <p>終了されたチャットルームはありません。</p>
    <% end %>
  </div>
<% else %>
  <p>チャットルームはまだ作られていません。</p>
<% end %>