<h1>Public::Users#confirm</h1>
<p>Find me in app/views/public/users/confirm.html.erb</p>

本当に退会しますか？

<%= link_to 'マイページへ', user_path(current_user.id) %>
<%= link_to '退会する', user_registration_path, method: :delete, data: { confirm: 'アカウントを削除します。よろしいですか？' } %>