<% if obj.errors.any? %>
  <div class="error-messages">
    <ul class="error-messages__list">
      <% obj.errors.full_messages.each do |message| %>
        <li class="error-messages__item"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>